:root{
  /* Colors */
  
  --toolbar-color: #4aa3a3;
  --window-background-color: #c0d8d8;
  --page-background-color: #87b5b5;
  --bottom-border-color: #224b4b;
}

.wrapper{
	border: 2px solid red;
	padding: 2rem;
	text-align: center;
}


.app-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 2rem;
  border: 2px solid green;
  background-color: var(--page-background-color);
  min-height: 100vh;
}

.editor-wrapper{
  border: 2px solid red;
  margin-top: 2rem;
  width: clamp(150px, 80vw, 600px);
  resize: vertical;
  position: relative;
  box-shadow: 1px 1px 10px 2px #3a5f5f
}

.toolbar{
  background-color: var(--toolbar-color);
  padding: 1rem;
  font-size: 1.5rem;
  box-shadow: 1px 1px 10px 1px #3a5f5f;
  border: 1px solid #1d2f2f;
  font-weight: bold;
}

#editor{
  box-sizing: border-box;
  padding: 1rem;
  min-height: 200px;
  height: auto;
  width: 100%;
  background-color: var(--window-background-color);
  resize: vertical;
}

.previewer-wrapper{
  width: clamp(150px, 90vw, 800px);
  min-height: 200px;
  margin-top: 1rem;
  border: 2px solid yellow;
  box-shadow: 1px 1px 10px 2px #3a5f5f;
}

.previewer-body{
  background-color: var(--window-background-color);
  height: auto;
  min-height: 200px;
  padding: 1rem;
}

.previewer-body h1{
  border-bottom: 2px solid var(--bottom-border-color);
  font-size: 2em;
  font-weight: bold;
}

.previewer-body h2{
  border-bottom: 1px solid var(--bottom-border-color);
  font-size: 1.5em;
  font-weight: bold;
}

.previewer-body h3{
  font-size: 1.17em;
  font-weight: bold;
}

.previewer-body table{
  margin: 1rem 0;
}

.previewer-body th,
.previewer-body tr, 
.previewer-body td{
  border: 2px solid black;
  text-align: center;
  padding: 0.5rem;
}

.previewer-body img{
  max-width: 100%;
  height: auto;
}
